/*============= canvas ============= */
#game_object{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_canvas {
    border: 1px solid black;
    background-color: black;
}
/*==end canvas==*/


/*============= backgrounds ============= */
#img_background{
    display: none;
}
#img_uni{
    display: none;
}
/*==end bg==*/


/*============= object ============= */
#img_ball {
    display: none;
}
/*==end obj==*/


/*============= menu ============= */
#img_restart{
    display: none;
}
#img_restart_hover{
    display: none;
}
#img_resume{
    display: none;
}
#img_resume_hover{
    display: none;
}
#img_home{
    display: none;
}
#img_home_hover{
    display: none;
}
#img_singlePlayer{
    display: none;
}
#img_singlePlayer_hover{
    display: none;
}
#img_multiPlayer{
    display: none;
}
#img_multiPlayer_hover{
    display: none;
}
#img_x{
    display: none;
}
#img_on{
    display: none;
}
#img_off{
    display: none;
}
#img_heart{
    display: none;
}
#img_legend{
    display: none;
}
/*==end menu==*/


/*============= specials ============= */
#img_bigger_paddle {
    display: none;
}
#img_smaller_paddle {
    display: none;
}
#img_faster_paddle {
    display: none;
}
#img_slower_paddle {
    display: none;
}
#img_plus {
    display: none;
}
#img_minus {
    display: none;
}
#img_bunny {
    display: none;
}
#img_turtle {
    display: none;
}
#img_wall {
    display: none;
}
#img_moving {
    display: none;
}
#img_wall_stat {
    display: none;
}
/*==end specials==*/

