h1, h2 {
    margin-left: 40%;
    font-family: "TComic Sans MS", cursive, sans-serif;
}

.button {
    display: inline-block;
    margin-left: 30%;
    margin-top: 45px;
    border-radius: 12px;
    padding: 10px;
    background-color: #00b3b3;
}


#gameScreen {
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background-color: black;
}

#player {
    padding-left: 1000px;
}

.start {
    background-image: url("assets/background.gif");
    width: 700px;
    height: 128px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 400px;
    margin-right: 200px;
    border: 2px solid black;
}

#img_ball{
    display: none;
}


#img_resize{
    display: none;
}
#img_bunny{
    display: none;
}
#img_turtle{
    display: none;
}

/*===================== Laurin =====================*/
#main_canvas {
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    background-color: black;
}
